<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/style.css' %}">
<!-- SET DEFAULT BACKGROUND TO BLUE SA PAGES NGA WALA GI FLAG og "is_intro"-->
    {% if not is_intro %}
    <style>
        body{height:100%;background:#0a49b3;}
    </style>
    {% endif %}
    {% block head %}{% endblock head %}
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <div class="alert_con">
                    {% if message.tags == "error" %}
                        <h2>Error</h2>
                    {% elif message.tags == "success" %}
                        <h2>Success</h2>
                    {% endif %}
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="wrapper">
<!--        HEADER BLOCK           -->
        {% if is_intro is None or not is_intro %}
        <div class="content_header">
            <div class="content_header_con">
                <div>
                    {% block header %}{% endblock header %}
                </div>
                <div class="content_user">
                    <a href="{% url 'logout' %}">Logout</a> |
                    <h2>Logged in as: {{ request.user }}</h2>
                    <a href="#!"></a>
                </div>
                <div class="clearfix"></div>
           </div>
        </div>
        {% endif %}
    </div>
    {% block content %}{% endblock content %}

    <!-- SHOW THE LEFT NAV IF THE PAGE IS NOT INTRO PAGE -->
        {% if is_intro is None or not is_intro %}
        <div class="left_nav">
            <div class="main_logo"><a href="{% url 'home' %}"><figure><img src="{% static 'pages/images/logo.png' %}"/></figure></a></div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Dashboard</a></li>
                    {% if user.is_admin %}
                    <li><a href="{% url 'admin' %}">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'level' %}">Lesson</a></li>
                </ul>
            </nav>
            <div class="nav_footer">
                <a href="#!">READ MORE ABOUT US</a>
            </div>
        </div>
        {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('.alert').click(function() {
          $(this).hide();
        });
    </script>
    {% block scripts %} {% endblock%}
</body>
</html>