{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="activity" class="activity">

        <div class="wrapper">
            <div class="content_header">
                <div class="content_header_con">
                    <form>
                        <input placeholder="Search activities…" name="s" />
                    </form>
                    <div class="content_user">
                        <h2>Logged in as: {{ request.user }}</h2>
                        <a href="#!"></a>
                    </div>
                    <div class="clearfix"></div>
               </div>
            </div>
            <div class="activity_con">
                <h2 class="activity_title">{{ difficulty }} mode</h2>
                <div class="activities">
                    {% for activity in activities %}
                    <section>
                        <h2>{{ activity.title }}</h2>
                        <p>{{ activity.description }}</p>
                        {% if activity.submitted > 0 %}
                        {% else %}
                        <a href="{% url 'question' activity_id=activity.pk %}">Play</a>
                        {% endif %}
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock content%}