{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script>
    $(document).ready(function() {
        /* smooth scrolling */
        $('a[href*="#"]').on('click', function(e) {
            var topOffset = (-50);
            e.preventDefault();

            $('html, body').animate(
              {
                scrollTop: $($(this).attr('href')).offset().top+topOffset,
              },
              500,
              'linear'
            );
        });
    });
</script>
{% endblock scripts %}

{% block content %}

<div id="activity_review" class="activity_review content_body">
    <div class="wrapper">
        <div class="activity_review_con">

            <h2 class="content_title">{{ activity }}</h2>

            <div class="question_sidebar">
                <ul>
                    {% for question_dict in questions %}
                    <li><a href="#question-{{ question_dict.question.pk }}">Question {{ forloop.counter }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% for question_dict in questions %}
            <div class="question" id="question-{{ question_dict.question.pk }}">

                    <section>
                        <h2><span>{{ forloop.counter }}.</span> {{ question_dict.question.name|safe }}</h2>
                        <p>choices:</p>
                        {% for answer in question_dict.answers %}
                            <div class="answer_con
                            {% if answer.is_correct == True %}correct_answer{% endif %}
                            {% if question_dict.user_answer and question_dict.user_answer.answer.pk == answer.pk and answer.is_correct == False %}wrong_answer{% endif %}">
                                <input disabled type="radio" name="answer-{{ question_dict.question.pk }}" value="{{ answer.pk }}"
                                    id="answer-{{ answer.pk }}" {% if question_dict.user_answer and question_dict.user_answer.answer.pk == answer.pk %}checked{% endif %}>
                                <label for="answer-{{ answer.pk }}">{{ answer.name }}</label>
                            </div>
                        {% endfor %}
                    </section>

            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}
