{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="admin" class="admin content_body">

        <div class="wrapper">
            <h2 class="content_title">Manage</h2>
            <ul>
                <li><a href="{% url 'lesson_manage' %}">Lessons</a></li>
                <li><a href="{% url 'user_manage' %}">Users</a></li>
                <li><a href="{% url 'retrieve' %}">Retrieve</a></li>
            </ul>

        </div>

    </div>
{% endblock content%}