{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="answer_edit" class="answer_edit content_body">
        <div class="wrapper">
            <div class="back_btn">
                <a href="{% url 'question_edit' question_id=answer.question.pk %}">Go Back</a>
            </div>
            <form method="post" class="easymath_form">
                {% csrf_token %}
                <div id="answer-form">
                    <div class="form_header">
                        <h2>Edit Answer</h2>
                    </div>
                    {{ answer_form.as_p }}
                </div>

                <div class="form_footer">
                    <div class="answer">
                        <button type="submit">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock content%}

{% block scripts %}

{% endblock %}
