{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="difficulty" class="difficulty content_body">
        <div class="wrapper">
            <div class="difficulty_con">
                <div class="content_title">DIFFICULTY</div>
                <div class="breadcrumbs">
                    <a href="{% url 'level' %}">Levels</a> / <a href="{% url 'lesson' level_id=lesson.level.pk %}">{{ lesson.level.name }}</a> / <a href="{% url 'lesson_single' lesson_id=lesson.pk %}">{{ lesson.title }}</a> / Difficulty
                </div>

                <ul>
                    {% for key, value in difficulties %}
                    <li><a href="{% url 'activity' lesson_id=lesson.pk difficulty=key %}">{{ value }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content%}