{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="home" class="home content_body">

        <div class="wrapper">

            <div class="home_con">

                <h2>Submitted Activities:</h2>

                <ul>
                    {% for activity_score in activity_scores %}
                    <li>{{ activity_score.activity }}- ({{ activity_score.score.correct_answer }} / {{ activity_score.score.total }})</li>
                    {% endfor %}
                </ul>

                <div class="charts">
                    <canvas id="monthly_activity_counts"></canvas>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>

    const ctx = document.getElementById('monthly_activity_counts');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
</script>
{% endblock %}