{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="home" class="home content_body">

        <div class="wrapper">

            <div class="home_con">

                <h2>Submitted Activities:</h2>

                <ul>
                    {% for activity_score in activity_scores %}
                    <li>{{ activity_score.activity }}- ({{ activity_score.score.correct_answer }} / {{ activity_score.score.total }})</li>
                    {% endfor %}
                </ul>

            </div>

        </div>
    </div>
{% endblock %}