{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="lesson_manage" class="lesson_manage content_body">

        <div class="wrapper">
            <h2 class="heading_title">Manage Lessons</h2>
            <div class="lessons_tbl">
                <div class="tbl_functions">
                    <a href="{% url 'lesson_add' %}">+</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Level</th>
                            <th>Date Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lesson in lessons %}
                            <tr>
                                <td>{{ lesson.title }}</td>
                                <td>{{ lesson.level }}</td>
                                <td>{{ lesson.date_created }}</td>
                                <td><a href="{% url 'lesson_edit' lesson_id=lesson.pk %}"><i class="fa-solid fa-pencil"></i></a> | <a href="{% url 'lesson_delete' lesson_id=lesson.pk %}"><i class="fa-sharp fa-solid fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock content%}

{% block scripts %}

{% endblock %}