{% extends "base.html" %}
{% load static %}

{% block head %}
{{ activity_formset.media }}
{% endblock head %}

{% block content %}
    <div id="lesson_edit" class="lesson_edit content_body">
        <div class="wrapper">
            <h2 class="content_title">{{ lesson.title }}</h2>
            <div class="breadcrumbs">
                <a href="{% url 'admin' %}">Manage</a> / <a href="{% url 'lesson_manage' %}">Lessons</a> / {{ lesson.title }}
            </div>
            <form method="post" class="easymath_form">
                {% csrf_token %}
                <div id="lesson-form">
                    <div class="form_header">
                        <h2>Edit Lesson</h2>
                    </div>
                    {{ lesson_form.as_p }}
                </div>

                <div class="activity-list list">
                    <h3>Activities</h3>
                    <ul>
                        {% for activity in activities %}
                            <li><a href="{% url 'activity_edit' activity_id=activity.pk %}">{{ activity }}</a> <div class="list-functions"><a href="{% url 'activity_edit' activity_id=activity.pk %}"><i class="fa-solid fa-pencil"></i></a> | <a href="#!" onclick="onDelete({{ activity.pk }})"><i class="fa-sharp fa-solid fa-trash"></i></a></div></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="form_footer">
                    <div class="form_footer_btn">
                        {% if lesson is not None %}
                        <a class="add-form-row add_activity" href="{% url 'activity_add' lesson_id=lesson.pk %}">Add Activity</a>
                        {% endif %}
                        <button type="submit">Save</button>
                    </div>
                </div>

                {{ lesson_form.media }}

            </form>
        </div>
    </div>
{% endblock content%}

{% block scripts %}
<script>
    function onDelete(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "Are you sure you want to delete this Activity?",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {

          if (result.isConfirmed) {
            window.location.replace("/activity/delete/"+id);
          }
        });
    }
</script>
{% endblock %}
