{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="lesson" class="lesson content_body">

        <div class="wrapper">
            <div>
                <div class="content_title">{{ lesson.title }}</div>
                <div class="breadcrumbs">
                    <a href="{% url 'level' %}">Levels</a> / <a href="{% url 'lesson' level_id=lesson.level.pk %}">{{ lesson.level.name }}</a> / {{ lesson.title }}
                </div>

                <div class="lesson_main">
                    {% if lesson %}
                        {{ lesson.description|safe }}
                    {% endif %}
                </div>
                <div class="lesson_finish">
                    <a href="{% url 'lesson_finished' lesson_id=lesson.pk %}">Finish Lesson and start an activity</a>
                </div>
            </div>
        </div>

    </div>
{% endblock content%}