{% extends "base.html" %}
{% load static %}

{% block head %}
{{ activity_formset.media }}
{% endblock head %}

{% block content %}
    <div id="lesson_add" class="lesson_add content_body">
        <div class="wrapper">
            <div class="back_btn">
                <a href="{% url 'lesson_manage' %}">Go Back</a>
            </div>
            <form method="post" class="easymath_form">
                {% csrf_token %}
                <div id="lesson-form">
                    <div class="form_header">
                        <h2>New Lesson</h2>
                    </div>
                    {{ lesson_form.as_p }}
                </div>

                <div class="form_footer">
                    <div class="activity-btn">
                        {% if lesson is not None %}
                        <a class="add-form-row add_activity" href="{% url 'activity_add' lesson_id=lesson.pk %}">Add Activity</a>
                        {% endif %}
                        <button type="submit">Save</button>
                    </div>
                </div>

                {{ lesson_form.media }}

            </form>
        </div>
    </div>
{% endblock content%}

{% block scripts %}

{% endblock %}
