{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="lesson" class="lesson">

        <div class="wrapper">
            <div class="lesson_header">
                <div class="lesson_header_con">
                    <form>
                        <input placeholder="Search questions…" />
                    </form>
                    <div class="lesson_user">
                        <h2>Welcome, Dummy Name</h2>
                        <a href="#!"></a>
                    </div>
                    <div class="clearfix"></div>
               </div>
            </div>
            <div class="lesson_content">
                <div class="back_btn">
                    <a href="#!">Go Back</a>
                </div>
                <div class="lesson_title">Lesson</div>
                <div class="lesson_main">
                    {% for lesson in lessons %}
                    <section>
                        <h2>{{ lesson.title }}</h2>
                        <p>{{ lesson.description }}</p>
                        <a href="{% url 'activity' lesson_id=lesson.pk %}">Start Answering</a>
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content%}