{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block header %}
<form>
    <input placeholder="Search lessons…" name="s" />
</form>
{% endblock %}

{% block content %}
    <div id="lesson" class="lesson content_body">

        <div class="wrapper">
            <div>
                <div class="breadcrumbs">
                    <a href="{% url 'level' %}">Levels</a> / {{ lessons.0.level.name }}
                </div>
                <div class="content_title">Lessons</div>
                <div class="lesson_main">
                    {% for lesson in lessons %}
                    <section>
                        <h2>{{ lesson.title }}</h2>
                        <a href="{% url 'lesson_single' lesson_id=lesson.pk %}">View</a>
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content%}