{% extends "base.html" %}
{% load static %}

{% block head %}
{{ activity_formset.media }}
{% endblock head %}

{% block content %}
    <div id="lesson_edit" class="lesson_edit content_body">
        <div class="wrapper">
            <div class="back_btn">
                <a href="{% url 'lesson_manage' %}">Go Back</a>
            </div>
            <form method="post" class="easymath_form">
                {% csrf_token %}
                <div id="lesson-form">
                    <div class="form_header">
                        <h2>Edit Lesson</h2>
                    </div>
                    {{ lesson_form.as_p }}
                </div>

                <div class="activity-list list">
                    <h3>Activities</h3>
                    <ul>
                        {% for activity in activities %}
                            <li><a href="{% url 'activity_edit' activity_id=activity.pk %}">{{ activity }}</a> <div class="list-functions"><a href="{% url 'activity_edit' activity_id=activity.pk %}"><i class="fa-solid fa-pencil"></i></a> | <a href="{% url 'activity_delete' activity_id=activity.pk %}"><i class="fa-sharp fa-solid fa-trash"></i></a></div></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="form_footer">
                    <div class="form_footer_btn">
                        {% if lesson is not None %}
                        <a class="add-form-row add_activity" href="{% url 'activity_add' lesson_id=lesson.pk %}">Add Activity</a>
                        {% endif %}
                        <button type="submit">Save</button>
                    </div>
                </div>

                {{ lesson_form.media }}

            </form>
        </div>
    </div>
{% endblock content%}

{% block scripts %}

{% endblock %}
