{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="level" class="level content_body">

        <div class="wrapper">
            <div class="level_con">
                {% for level in levels %}
                    <section>
                        <h2>{{ level.name }}</h2>
                        <a href="{% url 'lesson' level_id=level.pk %}">Click Here</a>
                    </section>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content%}