{% extends "base.html" %}
{% load static %}

{% block head %}
{{ activity_formset.media }}
{% endblock head %}

{% block content %}
    <div id="question_edit" class="question_edit content_body">
        <div class="wrapper">
            <h2 class="content_title">{{ question.name|safe }}</h2>
            <div class="breadcrumbs">
                <a href="{% url 'admin' %}">Manage</a> / <a href="{% url 'lesson_manage' %}">Lessons</a> / <a href="{% url 'lesson_edit' lesson_id=question.activity.lesson.pk %}">{{ question.activity.lesson.title }}</a> / <a href="{% url 'activity_edit' activity_id=question.activity.pk %}">{{ question.activity.title }}</a> / {{ question.name|safe }}
            </div>
            <form method="post" class="easymath_form">
                {% csrf_token %}
                <div id="question-form">
                    <div class="form_header">
                        <h2>Edit Question</h2>
                    </div>
                    {{ question_form.as_p }}
                </div>

                <div class="answer-list list">
                    <h3>Choices</h3>
                    <ul>
                        {% for answer in answers %}
                            <li>

                                    <a href="{% url 'answer_edit' answer_id=answer.pk %}">{{ answer|safe }} {% if answer.is_correct %} - <i class="fa-solid fa-check"></i> {% endif %}</a> <div class="list-functions"><a href="{% url 'answer_edit' answer_id=answer.pk %}"><i class="fa-solid fa-pencil"></i></a> | <a href="#!" onclick="onDelete({{ answer.pk }})"><i class="fa-sharp fa-solid fa-trash"></i></a></div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="form_footer">
                    <div class="form_footer_btn">
                        {% if question is not None %}
                        <a class="add-form-row add_answer" href="{% url 'answer_add' question_id=question.pk %}">Add Choice</a>
                        {% endif %}
                        <button type="submit">Save</button>
                    </div>
                </div>

                {{ question_form.media }}

            </form>
        </div>
    </div>
{% endblock content%}

{% block scripts %}
<script>
    function onDelete(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "Are you sure you want to delete this Choice?",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.replace("/answer/delete/"+id);
          }
        });
    }
</script>
{% endblock %}
