{% extends "base.html" %}
{% load static %}

{% block scripts %}

<script>
    $(document).ready(function() {
        $('input[type="radio"]').change(function() {
            // Get the form element containing the changed radio button
            const form = $(this).closest('form');

            // Get the CSRF token from the input field in the form
            const csrfToken = form.find('input[name="csrfmiddlewaretoken"]').val();

            // Submit the form using AJAX
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: {
                    answer: form.find('input[name="answer"]:checked').val(),
                    csrfmiddlewaretoken: csrfToken // Add the CSRF token to the request data
                },
                success: function(response) {
                    // Handle the response here if needed

                },
                error: function(xhr, status, error) {
                    // Handle the error here if needed

                }
            });
        });
    });
</script>
{% endblock scripts %}

{% block content %}

<div id="question" class="question content_body">
    <div class="wrapper">
        <div class="activity_con">
            {% for question_dict in questions %}
            <div class="question">
                <form method="post">
                    {% csrf_token %}
                    <section>
                        <h2><span>{{ forloop.counter }}.</span> {{ question_dict.question.name|safe }}</h2>
                        <p>choices:</p>
                        {% for answer in question_dict.answers %}
                            <div class="answer_con">
                                <input type="radio" name="answer" value="{{ answer.pk }}"
                                    id="answer-{{ answer.pk }}" {% if question_dict.user_answer and question_dict.user_answer.answer.pk == answer.pk %}checked{% endif %}>
                                <label for="answer-{{ answer.pk }}">{{ answer.name }}</label>
                            </div>
                        {% endfor %}
                    </section>
                </form>
            </div>
            {% endfor %}
            <div>
                <form method="post">
                    {% csrf_token %}
                    <input name="activity_id" value="{{ activity_id }}" hidden />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
