{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="retrieve" class="retrieve content_body">

        <div class="wrapper">

            <ul>
                <li><a href="{% url 'retrieve_lessons' %}">Lessons</a></li>
                <li><a href="">Activities</a></li>
                <li><a href="">Questions</a></li>
                <li><a href="">Answers</a></li>
            </ul>


        </div>

    </div>
{% endblock content%}

