{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
    <div id="user_manage" class="user_manage content_body">

        <div class="wrapper">
            <h2 class="content_title">Manage Users</h2>
            <div class="breadcrumbs">
                <a href="{% url 'admin' %}">Manage</a> / Users
            </div>
            <div class="user_tbl">
                <div class="tbl_functions">
                    <a href="{% url 'user_add' %}">+</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Contact No.</th>
                            <th>Administrator</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td><a href="{% url 'user_profile' user_id=user.pk %}">{{ user.username }}</a></td>
                                <td>{{ user.email|default:"None" }}</td>
                                <td>{{ user.contact_no|default:"None" }}</td>
                                <td>{{ user.is_admin }}</td>
                                <td><a href="{% url 'user_edit' user_id=user.pk %}"><i class="fa-solid fa-pencil"></i></a> | <a href="{% url 'user_delete' user_id=user.pk %}"><i class="fa-sharp fa-solid fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock content%}